# don't write the visibility modifier for fields, leave it empty and it will be `private` by default.
lombok.fieldDefaults.defaultPrivate = true

# it's ok to use @SneakyThrows, but you need to specify the target exception class explicitly.

# use @Cleanup or try-with-statement to handle the cleanup task of an io stream.

# to write a pojo entity
# 1. How to write annotations below the class:
#   a. if the entity is read-only: use @Data and final fields.
#   b. if the entity is read-and-write: use @Data and @AllArgsConstructor.
# 2. Use `final modifier` in front of a read-only field. (read-only means that the reference of this field will not be modifed.)
